# Python
__pycache__/
venv/
*.pyc

# Logs de los sensores (No queremos subir tus datos de ataques)
**/logs/*.jsonl
**/logs/*.json
*.json
*.jsonl

# Binarios de Go
sensor-http/main
sensor-ssh/main
sensor-telnet/main

# Archivos de configuración sensibles
.env
